<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Update Category</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <div class="row">
            <div class="col-md-3 offset-md-5">
                <div class="card card-sh">
                    <div class="card-header text-center">
                        <p class="fs-4">Update Category</p>

                        <a href="/admin/" class="text-decoration-none"><i
                                class="fa-solid fa-arrow-left"></i> Back</a>

                        <!-- SUCCESS MESSAGE -->
                        <div th:if="${session.successMsg}" class="alert alert-success alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3 w-50 shadow"
                             role="alert" style="z-index: 2000;">
                            [[${session.successMsg}]]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </div>

                        <!-- ERROR MESSAGE -->
                        <div th:if="${session.errorMsg}" class="alert alert-danger alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3 w-50 shadow"
                             role="alert" style="z-index: 2000;">
                            [[${session.errorMsg}]]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </div>

                    </div>

                    <div class="card-body">
                        <form action="/admin/updateCategory" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${category.id}">
                            <div class="mb-3">

                                <label>Enter Category</label>
                                <input type="text" name="name" th:value="${category.name}" class="form-control" required>
                            </div>
                            <div class="mb-3">

                                <label>Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio"  th:checked="${category.isActive==true}"
                                           value="true" name="active" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">Active</label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio"  th:checked="${category.isActive==false}"
                                           name="active" value="false" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">Inactive</label>
                                </div>

                            </div>

                            <div class="mb-3">
                                <label>Upload Image</label>
                                <input type="file" name="file" class="form-control" required>
                            </div>
                            <img th:src="@{'/img/category_img/'+${category.imageName}}"
                                 width="80px" height="80px" alt="img">
                            <p class="fw-bold">Current Image</p>
                            <button onclick="return confirm('Are you sure you want to update this category?')"
                                    class="btn btn-primary col-md-12 mt-2">Update</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>