<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>All Products</title>
</head>
<body>
<section>
    <div class="container-fluid mt-4 p-3">
        <div class="row">
            <p class="text-center fs-3 mt-2">All Products</p>
            <hr>
            <a href="/admin/" class="text-decoration-none"><i
                    class="fa-solid fa-arrow-left"></i> Back</a>

<!--            <th:block th:if="${session.successMsg}">-->
<!--                <p class="text-success fw-bold">[[${session.successMsg}]]</p>-->
<!--                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>-->
<!--            </th:block>-->

<!--            <th:block th:if="${session.errorMsg}">-->
<!--                <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>-->
<!--                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>-->
<!--            </th:block>-->

            <div th:if="${session.successMsg}" class="alert alert-success alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3 w-50 shadow"
                 role="alert" style="z-index: 2000;">
                [[${session.successMsg}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </div>

            <div th:if="${session.errorMsg}" class="alert alert-danger alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3 w-50 shadow"
                 role="alert" style="z-index: 2000;">
                [[${session.errorMsg}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </div>


            <div class="col-md-4 p-3">

                <form action="/admin/searchProducts" method="get">

                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control " name="ch" placeholder="Search here...">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary col">Search</button>
                        </div>
                    </div>

                </form>

            </div>


<!--             <div class="card card-sh">-->
            <div class="p-3">
                <table class="table table-bordered">
                    <thead class="table-light ">
                    <tr>
                        <th class="text-center" scope="col">Sl No</th>
                        <th class="text-center" scope="col">Image</th>
                        <th class="text-center" scope="col">Title</th>
                        <th class="text-center" scope="col">Category</th>
                        <th class="text-center" scope="col">Price</th>
                        <th class="text-center" scope="col">Discount</th>
                        <th class="text-center" scope="col">Discount Price</th>
<!--                        <th scope="col">Status</th>-->
                        <th class="text-center" scope="col">Stock</th>
                        <th class="text-center" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p,c:${products}">
                        <th class="text-center" scope="row">[[${c.count}]]</th>
                        <td class="text-center"><img th:src="@{'/img/product_img/'+${p.imageName}}"
                                 width="70px" height="70px" alt="image"></td>
                        <td class="text-center">[[${p.title}]]</td>
                        <td class="text-center">[[${p.category}]]</td>
                        <td class="text-center">[[${p.price}]]</td>
                        <td class="text-center">[[${p.discount}]]%</td>
                        <td class="text-center">[[${p.discountPrice}]]</td>
                        <td class="text-center">[[${p.stock}]]</td>
                        <td class="text-center">

                            <a th:href="@{'/admin/loadUpdateProduct/'+${p.id}}"
                               class="btn btn-sm btn-primary"><i class="fa-solid fa-pen-to-square">
                                </i>Edit</a>

                            <a th:href="@{'/admin/deleteProduct/'+${p.id}}" class="btn btn-sm btn-danger"
                               onclick="return confirm('Are you sure you want to delete this product?')">
                                <i class="fa-solid fa-trash"></i>Delete</a>

                        </td>
                    </tr>

                    </tbody>
                </table>

<!--                <div class="row">-->
<!--                    <div class="col-md-4">Total Product : [[${totalElements}]]</div>-->
<!--                    <div class="col-md-6">-->

<!--                        <nav aria-label="Page navigation example">-->
<!--                            <ul class="pagination">-->
<!--                                <li class="page-item"-->
<!--                                    th:classappend="${isFirst} ? 'disabled':''"><a-->
<!--                                        class="page-link"-->
<!--                                        th:href="@{'/admin/products?pageNo='+${pageNo-1}}"-->
<!--                                        aria-label="Previous"> <span aria-hidden="true">&laquo;</span>-->
<!--                                </a></li>-->

<!--                                <li th:each="i:${#numbers.sequence(1,totalPages)}"-->
<!--                                    class="page-item" th:classappend="${pageNo+1==i}?'active':''"-->
<!--                                    ]]><a class="page-link"-->
<!--                                          th:href="@{'/admin/products?pageNo='+${i-1}}">[[${i}]]</a></li>-->

<!--                                <li class="page-item"-->
<!--                                    th:classappend="${isLast} ? 'disabled':''"><a-->
<!--                                        class="page-link"-->
<!--                                        th:href="@{'/admin/products?pageNo='+${pageNo+1}}"-->
<!--                                        aria-label="Next"> <span aria-hidden="true">&raquo;</span>-->
<!--                                </a></li>-->
<!--                            </ul>-->
<!--                        </nav>-->
<!--                    </div>-->

<!--                </div>-->
            </div>
        </div>
    </div>
    <!-- 	</div> -->
</section>
</body>
</html>