<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>My Orders</title>
</head>
<body>
<section>
    <div class="container-fluid mt-4 p-3">
        <div th:if="${!isEmpty}" class="row">
            <p class="text-center fs-3 mt-4">My Orders</p>
            <hr>

            <!--SUCCESS MESSAGE-->
            <div th:if="${session.successMsg}" class="alert alert-success alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3 w-50 shadow"
                 role="alert" style="z-index: 2000;">
                [[${session.successMsg}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </div>

            <!--ERROR MESSAGE-->
            <div th:if="${session.errorMsg}" class="alert alert-danger alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3 w-50 shadow"
                 role="alert" style="z-index: 2000;">
                [[${session.errorMsg}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </div>


            <div class="p-3">
                <div th:if="${!isEmpty}" class="card shadow-lg border-0 rounded-3 p-3"> <!-- ? Adds soft shadow and rounded edges -->
                    <!--  Show only when orders has items -->
                    <table class="table table-bordered card-sh">
                        <thead >
                        <tr >
                            <th scope="col">Order Id</th>
                            <th scope="col">Date</th>
                            <th scope="col">Product Details</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
<!--                            <th scope="col">Action</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="o:${orders}">
                            <th scope="row">[[${o.orderId}]]</th>
                            <td>[[${o.orderDate}]]</td>
                            <td>[[${o.product.title}]]</td>
                            <td>Quantity : [[${o.quantity}]] <br>Price :
                                [[${o.price}]] <br>Total Price :[[${o.quantity *
                                o.price}]]
                            </td>
                            <td>[[${o.status}]]</td>
                            <td>
                                <th:block th:if="${o.status!='Cancelled'}">

                                <a th:href="@{'/user/cancelOrder?id='+${o.id}+'&st=8' }"
                                   class="btn btn-sm btn-danger">Cancel</a>

                                </th:block>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div th:if="${isEmpty}" class="container mt-5 p-5 text-center">
        <p class="fs-3 text-danger">No orders found.</p>
        <a href="/" class="text-decoration-none">
            <i class="fa-solid fa-arrow-left"></i> Back
        </a>
    </div>
</section>

</body>
</html>