<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">

            <!--SUCCESS MESSAGE-->
            <div th:if="${session.successMsg}" class="alert alert-success alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3 w-50 shadow"
                 role="alert" style="z-index: 2000;">
                [[${session.successMsg}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </div>

            <!--ERROR MESSAGE-->
            <div th:if="${session.errorMsg}" class="alert alert-danger alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x mt-3 w-50 shadow"
                 role="alert" style="z-index: 2000;">
                [[${session.errorMsg}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </div>

            <div class="col-md-6 offset-md-3 text-center">
                <i class="fa-solid fa-circle-check fa-5x text-success"></i>
                <p class="fs-3">Product Ordered Successfully</p>
                <p class="fs-4">Product will be delivered with in 7 days</p>
                <div class="text-center">
                    <a href="/" class="btn btn-primary">Home</a> <a href="/user/myOrders"
                                                                    class="btn btn-primary">Your Order</a>
                </div>
            </div>
        </div>

    </div>
</section>
</body>
</html>