@charset "ISO-8859-1";

.card-sh{
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.3);
}

.card-onhover:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }

.cat-div{
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}