<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace= "~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <section>

        <!--Start Slider-->
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/ecom1.png" class="d-block w-100" height="400px" alt="ecom1">
                </div>
                <div class="carousel-item">
                    <img src="/img/ecom2.jpg" class="d-block w-100" height="400px" alt="ecom2">
                </div>
                <div class="carousel-item">
                    <img src="/img/ecom3.jpg" class="d-block w-100" height="400px" alt="ecom3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--End Slider-->

        <!--Start Category Module-->
        <div class="container">
            <div class="row">
                <p class="text-center fs-4">Category</p>

                <div class="col md-2">
                    <div class="card rounded-circle">
                        <div class="card-body text-center">
                            <img src="/img/category_img/appli.png" alt="Electronics" height="150px" width="45%">
                            <p>Electronics</p>
                        </div>
                    </div>
                </div>

                <div class="col md-2">
                    <div class="card rounded-circle">
                        <div class="card-body text-center">
                            <img src="/img/category_img/laptop.jpg" alt="Laptop" height="150px" width="45%">
                            <p>Laptop</p>
                        </div>
                    </div>
                </div>

                <div class="col md-2">
                    <div class="card rounded-circle">
                        <div class="card-body text-center">
                            <img src="/img/category_img/beuty.png" alt="Beauty" height="150px" width="45%">
                            <p>Beauty</p>
                        </div>
                    </div>
                </div>

                <div class="col md-2">
                    <div class="card rounded-circle">
                        <div class="card-body text-center">
                            <img src="/img/category_img/groccery.jpg" alt="Grocery" height="150px" width="45%">
                            <p>Grocery</p>
                        </div>
                    </div>
                </div>

                <div class="col md-2">
                    <div class="card rounded-circle">
                        <div class="card-body text-center">
                            <img src="/img/category_img/mobile.png" alt="Mobile" height="150px" width="45%">
                            <p>SmartPhones</p>
                        </div>
                    </div>
                </div>

                <div class="col md-2">
                    <div class="card rounded-circle">
                        <div class="card-body text-center">
                            <img src="/img/category_img/pant.png" alt="Pant" height="150px" width="45%">
                            <p>Clothing</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End Category Module-->

        <!--Start Latest Products Module-->
        <div class="container-fluid bg-light p-3">
            <div class="row">
                <p class="text-center fs-4">Latest Products</p>

                <div class="col-md-3">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="/img/product_img/laptop.jpeg" alt="Laptop" height="150px" width="100%">
                            <p class="text-center">HP Laptop</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="/img/product_img/headphones.jpeg" alt="headphones" height="150px" width="100%">
                            <p class="text-center">Sony HeadPhones</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="/img/product_img/smartphone.jpeg" alt="Smartphones" height="150px" width="100%">
                            <p class="text-center">SmartPhones</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="/img/product_img/watch.jpeg" alt="Watches" height="150px" width="100%">
                            <p class="text-center">Watches</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End Latest Products Module-->

    </section>
</body>
</html>