<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace= "~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
</head>
<body>
    <section>

        <div class="container-fluid bg-primary p-3">
            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <form th:action="@{/search}" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="ch" placeholder="Search by title or category">
                            <button class="btn btn-light text-dark col-md-2 ms-2">
                                <i class="fa-solid fa-magnifying-glass"></i> Search
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="container-fluid mt-1">
            <div class="row">
                <div class="col-md-2 p-0">
                    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                            <div class="list-group">
                                <p class="fs-6">Categories</p>
                                <a href="/products" th:classappend="${paramValue == null ? 'active' : ''}"
                                   class="list-group-item list-group-item-action text-center" aria-current="true">
                                    All
                                </a>
                                <a th:each="cat : ${categories}" th:href="@{'/products?category=' + ${cat.name}}"
                                   th:classappend="${paramValue == cat.name ? 'active' : ''}"
                                   class="text-center list-group-item list-group-item-action">[[${cat.name}]]</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="card">
                        <div class="card-body">
                            <p class="fs-3 text-center">Products</p>

                            <div class="row shadow p-3 mb-5 bg-body-tertiary rounded">

                                <div class="col-12 text-center text-muted"
                                     th:if="${#lists.isEmpty(products)}">
                                    <p class="fs-5">No products found.</p>
                                </div>

                                <div class="col-md-3" th:each="prod : ${products}">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <img th:src="@{/img/product_img/{file}(file=${#strings.trim(prod.imageName)})}"
                                                 alt="img" height="150" width="100%">
                                            <p class="fs-5 text-center">[[${prod.title}]]</p>
                                            <div class="row text-center">
                                                <p class="fs-6">
                                                    <span class="fw-bold">&#8377;[[${prod.discountPrice}]]</span> <br>
                                                    <span class="text-secondary text-decoration-line-through">&#8377;[[${prod.price}]]</span>
                                                    <span class="fs-6 text-success fw-bold">[[${prod.discount}]]% off</span>
                                                </p>
                                                <a th:href="@{'/viewDetails/'+${prod.id}}" class="btn btn-primary col-md-8 offset-md-2">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
</body>
</html>